{
    "presets": [
        "@babel/typescript",
        "@babel/preset-react",
        [
            "@babel/env",
            {
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": {
                    "version": 3
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose" : true }],
        "@babel/proposal-object-rest-spread"
    ]
}
